/*************************************************************************** 
  COLOR VARIABLES
****************************************************************************/

:root {
	/* Primary Color */
	--mp-primary-color: #ff2887;
	--mp-primary-color-hover: #ff5da4;
	--mp-primary-color-rgb: 255, 40, 135;

	/* Secondary Color */
	--mp-secondary-color: #809BCE;
	--mp-secondary-color-hover: #9baed3;
	--mp-secondary-color-rgb: 128, 155, 207;

	/* Tertiary Color */
	--mp-tertiary-color: #AD72B5;
	--mp-tertiary-color-hover: #c08fc7;
	--mp-tertiary-color-rgb: 173, 114, 181;

	/* Primary Dark Color */
	--mp-primary-dark-color: #11151C;
	--mp-primary-dark-color-hover: #0b0c0e;
	--mp-primary-dark-color-rgb: 17, 21, 28;

	/* Secondary Dark Color */
	--mp-secondary-dark-color: #312F2F;
	--mp-secondary-dark-color-hover: #474444;
	--mp-secondary-dark-color-rgb: 49, 47, 47;

	/* Primary Light Color */
	--mp-primary-light-color: #fff;
	--mp-primary-light-color-hover: #ededed;
	--mp-primary-light-color-rgb: 255, 255, 255;

	/* Secondary Light Color */
	--mp-secondary-light-color: #95B8D1;
	--mp-secondary-light-color-hover: #c1d8e9;
	--mp-secondary-light-color-rgb: 149, 184, 209;

	/* Secondary Light Color */
	--mp-tertiary-light-color: #9984C0;
	--mp-tertiary-light-color-hover: #b3a1d3;
	--mp-tertiary-light-color-rgb: 153, 132, 192;

}

/*************************************************************************** 
  MP Colors
****************************************************************************/

	.mp-primary-color{
		color: var(--mp-primary-color) !important;
	}

		.mp-primary-color-hover {
			color: var(--mp-primary-color-hover) !important;
		}
	
	.mp-secondary-color{
		color: var(--mp-secondary-color) !important;
	}

		.mp-secondary-color-hover{
			color: var(--mp-secondary-color-hover) !important;
		}

	.mp-primary-dark-color{
		color: var(--mp-primary-dark-color) !important;
	}

	.mp-secondary-dark-color {
		color: var(--mp-secondary-dark-color) !important;
	}

	.mp-primary-light-color {
		color: var(--mp-primary-light-color) !important;
	}

	.mp-secondary-light-color {
		color: var(--mp-secondary-light-color) !important;
	}

/*************************************************************************** 
  MP Backgrounds
****************************************************************************/

	.mp-primary-bg-color {
		background-color: var(--mp-primary-color);
	}

	.mp-secondary-bg-color {
		background-color: var(--mp-secondary-color);
	}

	.mp-primary-dark-bg-color {
		background-color: var(--mp-primary-dark-color);
	}

	.mp-secondary-dark-bg-color {
		background-color: var(--mp-secondary-dark-color);
	}

	.mp-primary-light-bg-color {
		background-color: var(--mp-primary-light-color);
	}

	.mp-secondary-light-bg-color {
		background-color: var(--mp-secondary-light-color);
	}
