/*************************************************************************** 
  COLOR VARIABLES
****************************************************************************/

:root {

	/* Primary Color */
	--mp-primary-color: #ff2887;
	--mp-primary-color-rgb: 255, 40, 135;
	--mp-primary-color-hsl: 333, 100, 58;

	/* Secondary Color */
	--mp-secondary-color: #809BCE;
	--mp-secondary-color-rgb: 128, 155, 207;
	--mp-secondary-color-hsl: 219, 44%, 65%;

	/* Tertiary Color */
	--mp-tertiary-color: #AD72B5;
	--mp-tertiary-color-rgb: 173, 114, 181;
	--mp-tertiary-color-hsl: 293, 31%, 58%;

	/* Primary Dark Color */
	--mp-primary-dark-color: #11151C;
	--mp-primary-dark-color-rgb: 17, 21, 28;
	--mp-primary-dark-color-hsl: 218, 24%, 9%;

	/* Secondary Dark Color */
	--mp-secondary-dark-color: #312F2F;
	--mp-secondary-dark-color-rgb: 49, 47, 47;
	--mp-secondary-dark-color-hsl: 0, 2%, 19%;

	/* Primary Light Color */
	--mp-primary-light-color: #ffffff;
	--mp-primary-light-color-rgb: 255, 255, 255;
	--mp-primary-light-color-hsl: 0, 0%, 100%;

	/* Secondary Light Color */
	--mp-secondary-light-color: #95B8D1;
	--mp-secondary-light-color-rgb: 149, 184, 209;
	--mp-secondary-light-color-hsl: 205, 39%, 70%;

}

/*************************************************************************** 
  MP Text Colors
****************************************************************************/

.mp-primary-color {
	color: var(--mp-primary-color);
}

.mp-secondary-color {
	color: var(--mp-secondary-color);
}

.mp-primary-dark-color {
	color: var(--mp-primary-dark-color);
}

.mp-secondary-dark-color {
	color: var(--mp-secondary-dark-color);
}

.mp-primary-light-color {
	color: var(--mp-primary-light-color);
}

.mp-secondary-light-color {
	color: var(--mp-secondary-light-color);
}

/*************************************************************************** 
  MP Background Colors
****************************************************************************/

.mp-primary-bg-color {
	background-color: var(--mp-primary-color);
}

.mp-secondary-bg-color {
	background-color: var(--mp-secondary-color);
}

.mp-primary-dark-bg-color {
	background-color: var(--mp-primary-dark-color);
}

.mp-secondary-dark-bg-color {
	background-color: var(--mp-secondary-dark-color);
}

.mp-primary-light-bg-color {
	background-color: var(--mp-primary-light-color);
}

.mp-secondary-light-bg-color {
	background-color: var(--mp-secondary-light-color);
}