@import url(mp-reset.css);
@import url(mp-grid.css);
@import url(mp-alignments.css);
@import url(mp-form.css);
@import url(mp-slider.css);
@charset "UTF-8";



body {
	font-size: 15px;
	line-height: 1.45em;
}

p,
span,
a,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
section,
article {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0 0 15px;
	line-height: 1.65em;
	font-family: 'Open Sans', sans-serif;
	color: var(--mp-secondary-dark-color);
}

p:only-child,
p:only-of-type {
	margin-bottom: 0;
}

a {
	color: var(--mp-primary-color);
}

a:hover {
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

a:focus {
	outline: none;
}

/*** Headings ***/

h1,
.h1 {
	margin: 0 0 15px;
	display: block;
	font-size: 3em;
	line-height: 1.3em;
	color: var(--mp-primary-dark-color);
}

h2,
.h2 {
	margin: 0 0 20px;
	display: block;
	font-size: 2.4em;
	line-height: 1.3em;
}

h3,
.h3 {
	margin: 0 0 15px;
	font-size: 1.6em;
	line-height: 1.3em;
}

h4,
.h4 {
	margin: 0 0 15px;
	font-size: 1.3em;
	line-height: 1.3em;
}

/*** Font Sizes ***/

.mp-font-small {
	font-size: .8em;
}

.mp-font-medium {
	font-size: 1.2em;
}

.mp-font-large {
	font-size: 1.6em;
}

.mp-font-xl {
	font-size: 2.2em;
}

.mp-font-xxl {
	font-size: 2.8em;
}

/*** Font Styles ***/

.mp-font-light {
	font-weight: 300;
}

.mp-font-regular {
	font-weight: 400;
}

.mp-font-bold {
	font-weight: 700;
}

.mp-font-bold-extra {
	font-weight: 900;
}

.mp-font-italic {
	font-style: italic;
}

/*** Lists ***/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin: 0;
	padding: 0;
}

ul.list-bullets {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.list-bullets li {
	margin: 0 0 8px;
	padding: 0 0 0 12px;
	position: relative;
	line-height: 1.2em;
}

ul.list-bullets li:last-of-type {
	margin-bottom: 0;
}

ul.list-bullets~* {
	margin-top: 10px;
}

ul.list-bullets li::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0px;
	width: 6px;
	height: 6px;
	border: 1px solid var(--mp-primary-color);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

ul.list-bullets-grey li::before {
	border: 1px solid var(--mp-primary-light-color);
}

/*** Elements Inline ***/

ul.list-bullets-inline li {
	margin: 0 8px 0 0;
	display: inline-block;
}

ul.list-bullets-inline li:last-of-type {
	margin-bottom: initial;
	margin-right: 0;
	padding-right: 0;
}

/*** Elements with Borders ***/

ul.list-bullets-with-border li {
	margin-bottom: 14px;
	padding-bottom: 12px;
	border-bottom: 1px dotted var(--mp-primary-light-color);
}

ul.list-bullets-with-border li:last-of-type {
	padding-bottom: 0;
	border-bottom: 0;
}

ul.list-bullets-with-border~* {
	margin-top: 10px;
	padding-bottom: 12px;
}

/*** List with half columns ***/

ul.list-bullets-half {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

/*** List with lines in the bottom ***/

ul.list-separators {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	list-style: none;
}

ul.list-separtors li {
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--mp-secondary-dark-color);
}

ul.list-separtors li:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

/*** Navigation ***/

nav {
	display: flex;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1;
}

nav ul li {
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
}

/*** Centered margin ***/

.mp-m-h-auto {
	margin-right: auto;
	margin-left: auto;
}

/*** No margin ***/

.mp-m-0 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

/*** Both vertical margins ***/

.mp-m-v-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mp-m-v-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mp-m-v-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mp-m-v-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mp-m-v-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.mp-m-v-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mp-m-v-35 {
	margin-top: 35px;
	margin-bottom: 35px;
}

.mp-m-v-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mp-m-v-45 {
	margin-top: 45px;
	margin-bottom: 45px;
}

.mp-m-v-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mp-m-v-55 {
	margin-top: 55px;
	margin-bottom: 55px;
}

.mp-m-v-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.mp-m-v-65 {
	margin-top: 65px;
	margin-bottom: 65px;
}

.mp-m-v-70 {
	margin-top: 70px;
	margin-bottom: 70px;
}

.mp-m-v-75 {
	margin-top: 75px;
	margin-bottom: 75px;
}

.mp-m-v-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mp-m-v-85 {
	margin-top: 85px;
	margin-bottom: 85px;
}

.mp-m-v-90 {
	margin-top: 90px;
	margin-bottom: 90px;
}

.mp-m-v-95 {
	margin-top: 95px;
	margin-bottom: 95px;
}

.mp-m-v-100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Vertical: Top margin */

.mp-m-vt-0 {
	margin-top: 0px;
}

.mp-m-vt-5 {
	margin-top: 5px;
}

.mp-m-vt-10 {
	margin-top: 10px;
}

.mp-m-vt-15 {
	margin-top: 15px;
}

.mp-m-vt-20 {
	margin-top: 20px;
}

.mp-m-vt-25 {
	margin-top: 25px;
}

.mp-m-vt-30 {
	margin-top: 30px;
}

.mp-m-vt-35 {
	margin-top: 35px;
}

.mp-m-vt-40 {
	margin-top: 40px;
}

.mp-m-vt-45 {
	margin-top: 45px;
}

.mp-m-vt-50 {
	margin-top: 50px;
}

.mp-m-vt-55 {
	margin-top: 55px;
}

.mp-m-vt-60 {
	margin-top: 60px;
}

.mp-m-vt-65 {
	margin-top: 65px;
}

.mp-m-vt-70 {
	margin-top: 70px;
}

.mp-m-vt-75 {
	margin-top: 75px;
}

.mp-m-vt-80 {
	margin-top: 80px;
}

.mp-m-vt-85 {
	margin-top: 85px;
}

.mp-m-vt-90 {
	margin-top: 90px;
}

.mp-m-vt-95 {
	margin-top: 95px;
}

.mp-m-vt-100 {
	margin-top: 100px;
}

/* Vertical: Bottom margin */

.mp-m-vb-0 {
	margin-bottom: 0px;
}

.mp-m-vb-5 {
	margin-bottom: 5px;
}

.mp-m-vb-10 {
	margin-bottom: 10px;
}

.mp-m-vb-15 {
	margin-bottom: 15px;
}

.mp-m-vb-20 {
	margin-bottom: 20px;
}

.mp-m-vb-25 {
	margin-bottom: 25px;
}

.mp-m-vb-30 {
	margin-bottom: 30px;
}

.mp-m-vb-35 {
	margin-bottom: 35px;
}

.mp-m-vb-40 {
	margin-bottom: 40px;
}

.mp-m-vb-45 {
	margin-bottom: 45px;
}

.mp-m-vb-50 {
	margin-bottom: 50px;
}

.mp-m-vb-55 {
	margin-bottom: 55px;
}

.mp-m-vb-60 {
	margin-bottom: 60px;
}

.mp-m-vb-65 {
	margin-bottom: 65px;
}

.mp-m-vb-70 {
	margin-bottom: 70px;
}

.mp-m-vb-75 {
	margin-bottom: 75px;
}

.mp-m-vb-80 {
	margin-bottom: 80px;
}

.mp-m-vb-85 {
	margin-bottom: 85px;
}

.mp-m-vb-90 {
	margin-bottom: 90px;
}

.mp-m-vb-95 {
	margin-bottom: 95px;
}

.mp-m-vb-100 {
	margin-bottom: 100px;
}

/* Both horizontal margins */

.mp-m-h-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mp-m-h-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mp-m-h-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.mp-m-h-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.mp-m-h-25 {
	margin-left: 25px;
	margin-right: 25px;
}

.mp-m-h-30 {
	margin-left: 30px;
	margin-right: 30px;
}

.mp-m-h-35 {
	margin-left: 35px;
	margin-right: 35px;
}

.mp-m-h-40 {
	margin-left: 40px;
	margin-right: 40px;
}

.mp-m-h-45 {
	margin-left: 45px;
	margin-right: 45px;
}

.mp-m-h-50 {
	margin-left: 50px;
	margin-right: 50px;
}

.mp-m-h-55 {
	margin-left: 55px;
	margin-right: 55px;
}

.mp-m-h-60 {
	margin-left: 60px;
	margin-right: 60px;
}

.mp-m-h-65 {
	margin-left: 65px;
	margin-right: 65px;
}

.mp-m-h-70 {
	margin-left: 70px;
	margin-right: 70px;
}

.mp-m-h-75 {
	margin-left: 75px;
	margin-right: 75px;
}

.mp-m-h-80 {
	margin-left: 80px;
	margin-right: 80px;
}

.mp-m-h-85 {
	margin-left: 85px;
	margin-right: 85px;
}

.mp-m-h-90 {
	margin-left: 90px;
	margin-right: 90px;
}

.mp-m-h-95 {
	margin-left: 95px;
	margin-right: 95px;
}

.mp-m-h-100 {
	margin-left: 100px;
	margin-right: 100px;
}

/* Horizontal: Left margin */

.mp-m-hl-5 {
	margin-left: 5px;
}

.mp-m-hl-10 {
	margin-left: 10px;
}

.mp-m-hl-15 {
	margin-left: 15px;
}

.mp-m-hl-20 {
	margin-left: 20px;
}

.mp-m-hl-25 {
	margin-left: 25px;
}

.mp-m-hl-30 {
	margin-left: 30px;
}

.mp-m-hl-35 {
	margin-left: 35px;
}

.mp-m-hl-40 {
	margin-left: 40px;
}

.mp-m-hl-45 {
	margin-left: 45px;
}

.mp-m-hl-50 {
	margin-left: 50px;
}

.mp-m-hl-55 {
	margin-left: 55px;
}

.mp-m-hl-60 {
	margin-left: 60px;
}

.mp-m-hl-65 {
	margin-left: 65px;
}

.mp-m-hl-70 {
	margin-left: 70px;
}

.mp-m-hl-75 {
	margin-left: 75px;
}

.mp-m-hl-80 {
	margin-left: 80px;
}

.mp-m-hl-85 {
	margin-left: 85px;
}

.mp-m-hl-90 {
	margin-left: 90px;
}

.mp-m-hl-95 {
	margin-left: 95px;
}

.mp-m-hl-100 {
	margin-left: 100px;
}

/* Horizontal: Right margin */

.mp-m-hr-5 {
	margin-right: 5px;
}

.mp-m-hr-10 {
	margin-right: 10px;
}

.mp-m-hr-15 {
	margin-right: 15px;
}

.mp-m-hr-20 {
	margin-right: 20px;
}

.mp-m-hr-30 {
	margin-right: 30px;
}

.mp-m-hr-35 {
	margin-right: 35px;
}

.mp-m-hr-40 {
	margin-right: 40px;
}

.mp-m-hr-45 {
	margin-right: 45px;
}

.mp-m-hr-50 {
	margin-right: 50px;
}

.mp-m-hr-55 {
	margin-right: 55px;
}

.mp-m-hr-60 {
	margin-right: 60px;
}

.mp-m-hr-65 {
	margin-right: 65px;
}

.mp-m-hr-70 {
	margin-right: 70px;
}

.mp-m-hr-75 {
	margin-right: 75px;
}

.mp-m-hr-80 {
	margin-right: 80px;
}

.mp-m-hr-85 {
	margin-right: 85px;
}

.mp-m-hr-90 {
	margin-right: 90px;
}

.mp-m-hr-95 {
	margin-right: 95px;
}

.mp-m-hr-100 {
	margin-right: 100px;
}

/* Vertical and horizontal padding */

.mp-p-0 {
	padding: 0;
}

.mp-p-5 {
	padding: 5px;
}

.mp-p-10 {
	padding: 10px;
}

.mp-p-15 {
	padding: 15px;
}

.mp-p-20 {
	padding: 20px;
}

.mp-p-25 {
	padding: 25px;
}

.mp-p-30 {
	padding: 30px;
}

.mp-p-35 {
	padding: 35px;
}

.mp-p-40 {
	padding: 40px;
}

.mp-p-45 {
	padding: 45px;
}

.mp-p-50 {
	padding: 50px;
}

.mp-p-55 {
	padding: 55px;
}

.mp-p-60 {
	padding: 60px;
}

.mp-p-65 {
	padding: 65px;
}

.mp-p-70 {
	padding: 70px;
}

.mp-p-75 {
	padding: 75px;
}

.mp-p-80 {
	padding: 80px;
}

.mp-p-85 {
	padding: 85px;
}

.mp-p-90 {
	padding: 90px;
}

.mp-p-95 {
	padding: 95px;
}

.mp-p-100 {
	padding: 100px;
}

/* Both horizontal paddings */

.mp-p-h-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.mp-p-h-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.mp-p-h-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.mp-p-h-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.mp-p-h-25 {
	padding-left: 25px;
	padding-right: 25px;
}

.mp-p-h-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.mp-p-h-35 {
	padding-left: 35px;
	padding-right: 35px;
}

.mp-p-h-40 {
	padding-left: 40px;
	padding-right: 40px;
}

.mp-p-h-45 {
	padding-left: 45px;
	padding-right: 45px;
}

.mp-p-h-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.mp-p-h-55 {
	padding-left: 55px;
	padding-right: 55px;
}

.mp-p-h-60 {
	padding-left: 60px;
	padding-right: 60px;
}

.mp-p-h-65 {
	padding-left: 65px;
	padding-right: 65px;
}

.mp-p-h-70 {
	padding-left: 70px;
	padding-right: 70px;
}

.mp-p-h-75 {
	padding-left: 75px;
	padding-right: 75px;
}

.mp-p-h-80 {
	padding-left: 80px;
	padding-right: 80px;
}

.mp-p-h-85 {
	padding-left: 85px;
	padding-right: 85px;
}

.mp-p-h-90 {
	padding-left: 90px;
	padding-right: 90px;
}

.mp-p-h-95 {
	padding-left: 95px;
	padding-right: 95px;
}

.mp-p-h-100 {
	padding-left: 100px;
	padding-right: 100px;
}

/* Both vertical paddings */

.mp-p-v-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.mp-p-v-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mp-p-v-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.mp-p-v-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.mp-p-v-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.mp-p-v-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.mp-p-v-35 {
	padding-top: 35px;
	padding-bottom: 35px;
}

.mp-p-v-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mp-p-v-45 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.mp-p-v-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.mp-p-v-55 {
	padding-top: 55px;
	padding-bottom: 55px;
}

.mp-p-v-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.mp-p-v-65 {
	padding-top: 65px;
	padding-bottom: 65px;
}

.mp-p-v-70 {
	padding-top: 70px;
	padding-bottom: 70px;
}

.mp-p-v-75 {
	padding-top: 75px;
	padding-bottom: 75px;
}

.mp-p-v-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.mp-p-v-85 {
	padding-top: 85px;
	padding-bottom: 85px;
}

.mp-p-v-90 {
	padding-top: 90px;
	padding-bottom: 90px;
}

.mp-p-v-95 {
	padding-top: 95px;
	padding-bottom: 95px;
}

.mp-p-v-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Vertical: Top padding */

.mp-p-vt-0 {
	padding-top: 0px;
}

.mp-p-vt-5 {
	padding-top: 5px;
}

.mp-p-vt-10 {
	padding-top: 10px;
}

.mp-p-vt-15 {
	padding-top: 15px;
}

.mp-p-vt-20 {
	padding-top: 20px;
}

.mp-p-vt-25 {
	padding-top: 25px;
}

.mp-p-vt-30 {
	padding-top: 30px;
}

.mp-p-vt-35 {
	padding-top: 35px;
}

.mp-p-vt-40 {
	padding-top: 40px;
}

.mp-p-vt-45 {
	padding-top: 45px;
}

.mp-p-vt-50 {
	padding-top: 50px;
}

.mp-p-vt-55 {
	padding-top: 55px;
}

.mp-p-vt-60 {
	padding-top: 60px;
}

.mp-p-vt-65 {
	padding-top: 65px;
}

.mp-p-vt-70 {
	padding-top: 70px;
}

.mp-p-vt-75 {
	padding-top: 75px;
}

.mp-p-vt-80 {
	padding-top: 80px;
}

.mp-p-vt-85 {
	padding-top: 85px;
}

.mp-p-vt-90 {
	padding-top: 90px;
}

.mp-p-vt-95 {
	padding-top: 95px;
}

.mp-p-vt-100 {
	padding-top: 100px;
}

/* Vertical: Bottom padding */

.mp-p-vb-0 {
	padding-bottom: 0px;
}

.mp-p-vb-5 {
	padding-bottom: 5px;
}

.mp-p-vb-10 {
	padding-bottom: 10px;
}

.mp-p-vb-15 {
	padding-bottom: 15px;
}

.mp-p-vb-20 {
	padding-bottom: 20px;
}

.mp-p-vb-25 {
	padding-bottom: 25px;
}

.mp-p-vb-30 {
	padding-bottom: 30px;
}

.mp-p-vb-35 {
	padding-bottom: 35px;
}

.mp-p-vb-40 {
	padding-bottom: 40px;
}

.mp-p-vb-45 {
	padding-bottom: 45px;
}

.mp-p-vb-50 {
	padding-bottom: 50px;
}

.mp-p-vb-55 {
	padding-bottom: 55px;
}

.mp-p-vb-60 {
	padding-bottom: 60px;
}

.mp-p-vb-65 {
	padding-bottom: 65px;
}

.mp-p-vb-70 {
	padding-bottom: 70px;
}

.mp-p-vb-75 {
	padding-bottom: 75px;
}

.mp-p-vb-80 {
	padding-bottom: 80px;
}

.mp-p-vb-85 {
	padding-bottom: 85px;
}

.mp-p-vb-90 {
	padding-bottom: 90px;
}

.mp-p-vb-95 {
	padding-bottom: 95px;
}

.mp-p-vb-100 {
	padding-bottom: 100px;
}

/* Horizontal: Left padding */

.mp-p-hl-0 {
	padding-left: 0px;
}

.mp-p-hl-5 {
	padding-left: 5px;
}

.mp-p-hl-10 {
	padding-left: 10px;
}

.mp-p-hl-15 {
	padding-left: 15px;
}

.mp-p-hl-20 {
	padding-left: 20px;
}

.mp-p-hl-25 {
	padding-left: 25px;
}

.mp-p-hl-30 {
	padding-left: 30px;
}

.mp-p-hl-35 {
	padding-left: 35px;
}

.mp-p-hl-40 {
	padding-left: 40px;
}

.mp-p-hl-45 {
	padding-left: 45px;
}

.mp-p-hl-50 {
	padding-left: 50px;
}

.mp-p-hl-55 {
	padding-left: 55px;
}

.mp-p-hl-60 {
	padding-left: 60px;
}

.mp-p-hl-65 {
	padding-left: 65px;
}

.mp-p-hl-70 {
	padding-left: 70px;
}

.mp-p-hl-75 {
	padding-left: 75px;
}

.mp-p-hl-80 {
	padding-left: 80px;
}

.mp-p-hl-85 {
	padding-left: 85px;
}

.mp-p-hl-90 {
	padding-left: 90px;
}

.mp-p-hl-95 {
	padding-left: 95px;
}

.mp-p-hl-100 {
	padding-left: 100px;
}

/* Horizontal: Right padding */

.mp-p-hr-0 {
	padding-right: 0px;
}

.mp-p-hr-5 {
	padding-right: 5px;
}

.mp-p-hr-10 {
	padding-right: 10px;
}

.mp-p-hr-15 {
	padding-right: 15px;
}

.mp-p-hr-20 {
	padding-right: 20px;
}

.mp-p-hr-25 {
	padding-right: 25px;
}

.mp-p-hr-30 {
	padding-right: 30px;
}

.mp-p-hr-35 {
	padding-right: 35px;
}

.mp-p-hr-40 {
	padding-right: 40px;
}

.mp-p-hr-45 {
	padding-right: 45px;
}

.mp-p-hr-50 {
	padding-right: 50px;
}

.mp-p-hr-55 {
	padding-right: 55px;
}

.mp-p-hr-60 {
	padding-right: 60px;
}

.mp-p-hr-65 {
	padding-right: 65px;
}

.mp-p-hr-70 {
	padding-right: 70px;
}

.mp-p-hr-75 {
	padding-right: 75px;
}

.mp-p-hr-80 {
	padding-right: 80px;
}

.mp-p-hr-85 {
	padding-right: 85px;
}

.mp-p-hr-90 {
	padding-right: 90px;
}

.mp-p-hr-95 {
	padding-right: 95px;
}

.mp-p-hr-100 {
	padding-right: 100px;
}

/*** MP Rounded Borders ***/

.mp-border-radius-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.mp-border-radius-8 {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}

.mp-border-radius-10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

.mp-border-radius-12 {
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
}

.mp-border-radius-15 {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}

/*** MP Images ***/

img {
	max-width: 100%;
}

.mp-img-circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

.img-holder {
	display: inline-block;
	width: 100%;
}

/*** MP Separators ***/

.basic-separator {
	margin: 20px auto;
	height: 3px;
	width: 100%;
	background-color: var(--mp-primary-dark-color);
	z-index: 1;
}

.basic-separator-white {
	margin: 20px auto;
	height: 3px;
	width: 100%;
	background-color: var(--mp-secondary-light-color);
	z-index: 1;
}

/*** MP Buttons ***/

.mp-button,
.mp-button:visited {
	padding: 6px 18px;
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	color: var(--mp-primary-dark-color);
	cursor: pointer;
	pointer-events: visible;
	background-color: var(--mp-primary-color);
	border: 0;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-o-border-radius: 35px;

	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

.mp-button:hover,
.mp-button:focus {
	background-color: var(--mp-primary-color-hover);
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

.mp-button-no-border {
	border: 0 !important;
}

.mp-inline-link {
	display: inline-flex;
	text-decoration: underline;
}

/*** Button Sizes ***/

.mp-button-sm {
	padding: 4px 10px;
	font-size: .8em;
}

.mp-button-lg {
	padding: 12px 26px;
	font-size: 1.2em;
	font-weight: 600;
	border-radius: 65px;
	-webkit-border-radius: 65px;
	-moz-border-radius: 65px;
	-o-border-radius: 65px;
}

/*** Button Holders ***/

.mp-button-holder {
	display: inline-block;
}

.mp-div-center .mp-button-holder {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*** Button with Icon ***/

.mp-button i {
	margin-left: 6px;
	display: inline-block;
}

.mp-button-i-right i {
	margin-left: 6px;
}

.mp-button-i-left i {
	margin-left: 0;
	margin-right: 6px;
}

/*** Secondary Color ***/

.mp-button-secondary,
.mp-button-secondary:visited {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-color);
}

.mp-button-secondary:hover,
.mp-button-secondary:focus {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-color-hover);
}

/*** Primary Dark Color ***/

.mp-button-primary-dark,
.mp-button-primary-dark:visited {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-dark-color);
}

.mp-button-primary-dark:hover,
.mp-button-primary-dark:focus {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-dark-color-hover);
}

/*** Secondary Dark Color ***/

.mp-button-secondary-dark,
.mp-button-secondary-dark:visited {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-dark-color);
}

.mp-button-secondary-dark:hover,
.mp-button-secondary-dark:focus {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-dark-color-hover);
}

/*** Primary Light Color ***/

.mp-button-primary-light,
.mp-button-primary-light:visited {
	color: var(--mp-primary-dark-color);
	background-color: var(--mp-primary-light-color);
}

.mp-button-primary-light:hover,
.mp-button-primary-light:focus {
	color: var(--mp-primary-dark-color);
	background-color: var(--mp-primary-light-color-hover);
}

/*** Secondary Light Color ***/

.mp-button-secondary-light,
.mp-button-secondary-light:visited {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-light-color);
}

.mp-button-secondary-light:hover,
.mp-button-secondary-light:focus {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-light-color-hover);
}

/*** Outline Button ***/

.mp-button-outline {
	color: var(--mp-primary-color);
	background-color: transparent;
	border: 1px solid var(--mp-primary-color);
}

.mp-button-outline,
.mp-button-outline:visited,
.mp-button-primary-outline,
.mp-button-primary-outline:visited {
	color: var(--mp-primary-color);
	background-color: transparent;
	border: 1px solid var(--mp-primary-color);
}

.mp-button-outline:hover,
.mp-button-outline:focus,
.mp-button-primary-outline:hover,
.mp-button-primary-outline:focus {
	color: var(--mp-primary-dark-color) !important;
	background-color: var(--mp-primary-color) !important;
	border-color: var(--mp-primary-color) !important;
}

.mp-button-secondary-outline,
.mp-button-secondary-outline:visited {
	color: var(--mp-secondary-color);
	background-color: transparent;
	border-color: var(--mp-secondary-color);
}

.mp-button-secondary-outline:hover,
.mp-button-secondary-outline:focus {
	color: var(--mp-primary-light-color) !important;
	background-color: var(--mp-secondary-color) !important;
	border-color: var(--mp-secondary-color) !important;
}

.mp-button-primary-dark-outline,
.mp-button-primary-dark-outline:visited {
	color: var(--mp-primary-dark-color);
	background-color: transparent;
	border-color: var(--mp-primary-dark-color);
}

.mp-button-primary-dark-outline:hover,
.mp-button-primary-dark-outline:focus {
	color: var(--mp-secondary-light-color) !important;
	background-color: var(--mp-primary-dark-color) !important;
	border-color: var(--mp-primary-dark-color) !important;
}

.mp-button-primary-light-outline,
.mp-button-primary-light-outline:visited {
	color: var(--mp-secondary-light-color);
	background-color: transparent;
	border-color: var(--mp-secondary-light-color);
}

.mp-button-primary-light-outline:hover,
.mp-button-primary-light-outline:focus {
	color: var(--mp-secondary-dark-color) !important;
	background-color: var(--mp-secondary-light-color) !important;
	border-color: var(--mp-secondary-light-color) !important;
}




/*** MP Badges ***/

.mp-badge {
	padding: .2em .4em;
	display: inline-block;
	font-size: .85em;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	color: var(--mp-primary-dark-color);
	vertical-align: text-bottom;
	background-color: var(--mp-primary-color);
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.mp-badge.mp-badge-secondary {
	color: var(--mp-secondary-light-color);
	background-color: var(--mp-secondary-color);
}

.mp-badge.mp-badge-primary-dark {
	color: var(--mp-primary-light-color);
	background-color: var(--mp-primary-dark-color);
}

.mp-badge.mp-badge-primary-light {
	color: var(--mp-secondary-dark-color);
	background-color: var(--mp-primary-light-color);
}

/*** MP Card ***/

.mp-card {
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.mp-card-icon {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.mp-card-header {
	display: flex;
	flex-direction: column;
}

.mp-card-content {
	display: flex;
	flex-direction: column;
}

.mp-card-footer {
	display: flex;
	flex-direction: column;
}

/*** FA Carousel ***/

.mp-carousel {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.mp-carousel-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 35px;

	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;

	pointer-events: none;
}

.mp-carousel-item {
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: rgba(var(--mp-secondary-color-rgb), .2);

	background-image: url('/wp-content/themes/marinaperedadev-child/assets/img/projects/project-brainbeatsx.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.mp-carousel-item:nth-of-type(2) {
	background-image: url('/wp-content/themes/marinaperedadev-child/assets/img/projects/project-mandalaslove.jpg');
}

.mp-carousel-item:nth-of-type(3) {
	background-image: url('/wp-content/themes/marinaperedadev-child/assets/img/projects/project-codepen.jpg');
}

.mp-carousel-item-title {
	margin-bottom: 12px;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.2em;
	text-align: center;
	color: rgba(var(--mp-primary-light-color-rgb), .85);
}

.mp-carousel-item-content {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.1em;
	text-align: center;
	color: rgba(var(--mp-primary-light-color-rgb), .6);
}

.mp-carousel-controls {
	position: relative;
	z-index: 4;
}

.mp-carousel .mp-control-prev {
	left: 0;
}

.mp-carousel .mp-control-next {
	right: 0;
}


/*** FA Tooltip ***/

.tooltip-element {
	position: relative;
	display: inline-block;
}

.tooltip {
	padding: 4px 6px;
	position: absolute;
	font-size: .9em;
	line-height: .9em;
	color: var(--mp-primary-dark-color);
	z-index: 9;
	background-color: var(--mp-secondary-light-color);
}

.tooltip-element i {
	display: inline-block;
	color: var(--mp-primary-dark-color);
}

/* Media Queries */

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {

	nav#topmenu ul {
		margin-bottom: 0;
	}

	nav#topmenu ul li {
		padding: .5rem 1rem;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}