.mp-card {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .mp-card-icon {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mp-card-header {
    display: flex;
    flex-direction: column;
  }

  .mp-card-image {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mp-card-content {
    display: flex;
    flex-direction: column;
  }

  .mp-card-footer {
    display: flex;
    flex-direction: column;
  }

  &.mp-card-horizontal {
    flex-direction: row;
    align-items: start;
    .mp-card-image {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
    }
  }
}
