@font-face {
  font-family: 'mp-icons';
  src: url('../mp-icons/mp-icons.eot?dlxv3o');
  src: url('../mp-icons/mp-icons.eot?dlxv3o#iefix') format('embedded-opentype'),
    url('../mp-icons/mp-icons.ttf?dlxv3o') format('truetype'),
    url('../mp-icons/mp-icons.woff?dlxv3o') format('woff'),
    url('../mp-icons/mp-icons.svg?dlxv3o#mp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mp-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mp-icon-add:before {
  content: "\e900";
}
.icon-mp-icon-arrow-down:before {
  content: "\e901";
}
.icon-mp-icon-arrow-left:before {
  content: "\e902";
}
.icon-mp-icon-arrow-right:before {
  content: "\e903";
}
.icon-mp-icon-arrow-up:before {
  content: "\e904";
}
.icon-mp-icon-calendar:before {
  content: "\e905";
}
.icon-mp-icon-caret-down:before {
  content: "\e906";
}
.icon-mp-icon-caret-left:before {
  content: "\e907";
}
.icon-mp-icon-caret-right:before {
  content: "\e908";
}
.icon-mp-icon-caret-up:before {
  content: "\e909";
}
.icon-mp-icon-check:before {
  content: "\e90a";
}
.icon-mp-icon-close:before {
  content: "\e90b";
}
.icon-mp-icon-down:before {
  content: "\e90c";
}
.icon-mp-icon-email:before {
  content: "\e90d";
}
.icon-mp-icon-exclamation:before {
  content: "\e90e";
}
.icon-mp-icon-hamburguer:before {
  content: "\e90f";
}
.icon-mp-icon-link:before {
  content: "\e910";
}
.icon-mp-icon-location:before {
  content: "\e911";
}
.icon-mp-icon-minus:before {
  content: "\e912";
}
.icon-mp-icon-next:before {
  content: "\e913";
}
.icon-mp-icon-prev:before {
  content: "\e914";
}
.icon-mp-icon-search:before {
  content: "\e915";
}
.icon-mp-icon-up:before {
  content: "\e916";
}
.icon-mp-icon-user:before {
  content: "\e917";
}