/*** No margin ***/

.mp-m-0 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

/*** Both vertical margins ***/

.mp-m-v-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mp-m-v-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mp-m-v-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mp-m-v-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mp-m-v-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.mp-m-v-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mp-m-v-35 {
	margin-top: 35px;
	margin-bottom: 35px;
}

.mp-m-v-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mp-m-v-45 {
	margin-top: 45px;
	margin-bottom: 45px;
}

.mp-m-v-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mp-m-v-55 {
	margin-top: 55px;
	margin-bottom: 55px;
}

.mp-m-v-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.mp-m-v-65 {
	margin-top: 65px;
	margin-bottom: 65px;
}

.mp-m-v-70 {
	margin-top: 70px;
	margin-bottom: 70px;
}

.mp-m-v-75 {
	margin-top: 75px;
	margin-bottom: 75px;
}

.mp-m-v-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mp-m-v-85 {
	margin-top: 85px;
	margin-bottom: 85px;
}

.mp-m-v-90 {
	margin-top: 90px;
	margin-bottom: 90px;
}

.mp-m-v-95 {
	margin-top: 95px;
	margin-bottom: 95px;
}

.mp-m-v-100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Vertical: Top margin */

.mp-m-vt-0 {
	margin-top: 0px;
}

.mp-m-vt-5 {
	margin-top: 5px;
}

.mp-m-vt-10 {
	margin-top: 10px;
}

.mp-m-vt-15 {
	margin-top: 15px;
}

.mp-m-vt-20 {
	margin-top: 20px;
}

.mp-m-vt-25 {
	margin-top: 25px;
}

.mp-m-vt-30 {
	margin-top: 30px;
}

.mp-m-vt-35 {
	margin-top: 35px;
}

.mp-m-vt-40 {
	margin-top: 40px;
}

.mp-m-vt-45 {
	margin-top: 45px;
}

.mp-m-vt-50 {
	margin-top: 50px;
}

.mp-m-vt-55 {
	margin-top: 55px;
}

.mp-m-vt-60 {
	margin-top: 60px;
}

.mp-m-vt-65 {
	margin-top: 65px;
}

.mp-m-vt-70 {
	margin-top: 70px;
}

.mp-m-vt-75 {
	margin-top: 75px;
}

.mp-m-vt-80 {
	margin-top: 80px;
}

.mp-m-vt-85 {
	margin-top: 85px;
}

.mp-m-vt-90 {
	margin-top: 90px;
}

.mp-m-vt-95 {
	margin-top: 95px;
}

.mp-m-vt-100 {
	margin-top: 100px;
}

/* Vertical: Bottom margin */

.mp-m-vb-0 {
	margin-bottom: 0px;
}

.mp-m-vb-5 {
	margin-bottom: 5px;
}

.mp-m-vb-10 {
	margin-bottom: 10px;
}

.mp-m-vb-15 {
	margin-bottom: 15px;
}

.mp-m-vb-20 {
	margin-bottom: 20px;
}

.mp-m-vb-25 {
	margin-bottom: 25px;
}

.mp-m-vb-30 {
	margin-bottom: 30px;
}

.mp-m-vb-35 {
	margin-bottom: 35px;
}

.mp-m-vb-40 {
	margin-bottom: 40px;
}

.mp-m-vb-45 {
	margin-bottom: 45px;
}

.mp-m-vb-50 {
	margin-bottom: 50px;
}

.mp-m-vb-55 {
	margin-bottom: 55px;
}

.mp-m-vb-60 {
	margin-bottom: 60px;
}

.mp-m-vb-65 {
	margin-bottom: 65px;
}

.mp-m-vb-70 {
	margin-bottom: 70px;
}

.mp-m-vb-75 {
	margin-bottom: 75px;
}

.mp-m-vb-80 {
	margin-bottom: 80px;
}

.mp-m-vb-85 {
	margin-bottom: 85px;
}

.mp-m-vb-90 {
	margin-bottom: 90px;
}

.mp-m-vb-95 {
	margin-bottom: 95px;
}

.mp-m-vb-100 {
	margin-bottom: 100px;
}

/* Both horizontal margins */

.mp-m-h-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mp-m-h-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mp-m-h-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.mp-m-h-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.mp-m-h-25 {
	margin-left: 25px;
	margin-right: 25px;
}

.mp-m-h-30 {
	margin-left: 30px;
	margin-right: 30px;
}

.mp-m-h-35 {
	margin-left: 35px;
	margin-right: 35px;
}

.mp-m-h-40 {
	margin-left: 40px;
	margin-right: 40px;
}

.mp-m-h-45 {
	margin-left: 45px;
	margin-right: 45px;
}

.mp-m-h-50 {
	margin-left: 50px;
	margin-right: 50px;
}

.mp-m-h-55 {
	margin-left: 55px;
	margin-right: 55px;
}

.mp-m-h-60 {
	margin-left: 60px;
	margin-right: 60px;
}

.mp-m-h-65 {
	margin-left: 65px;
	margin-right: 65px;
}

.mp-m-h-70 {
	margin-left: 70px;
	margin-right: 70px;
}

.mp-m-h-75 {
	margin-left: 75px;
	margin-right: 75px;
}

.mp-m-h-80 {
	margin-left: 80px;
	margin-right: 80px;
}

.mp-m-h-85 {
	margin-left: 85px;
	margin-right: 85px;
}

.mp-m-h-90 {
	margin-left: 90px;
	margin-right: 90px;
}

.mp-m-h-95 {
	margin-left: 95px;
	margin-right: 95px;
}

.mp-m-h-100 {
	margin-left: 100px;
	margin-right: 100px;
}

/* Horizontal: Left margin */

.mp-m-hl-5 {
	margin-left: 5px;
}

.mp-m-hl-10 {
	margin-left: 10px;
}

.mp-m-hl-15 {
	margin-left: 15px;
}

.mp-m-hl-20 {
	margin-left: 20px;
}

.mp-m-hl-25 {
	margin-left: 25px;
}

.mp-m-hl-30 {
	margin-left: 30px;
}

.mp-m-hl-35 {
	margin-left: 35px;
}

.mp-m-hl-40 {
	margin-left: 40px;
}

.mp-m-hl-45 {
	margin-left: 45px;
}

.mp-m-hl-50 {
	margin-left: 50px;
}

.mp-m-hl-55 {
	margin-left: 55px;
}

.mp-m-hl-60 {
	margin-left: 60px;
}

.mp-m-hl-65 {
	margin-left: 65px;
}

.mp-m-hl-70 {
	margin-left: 70px;
}

.mp-m-hl-75 {
	margin-left: 75px;
}

.mp-m-hl-80 {
	margin-left: 80px;
}

.mp-m-hl-85 {
	margin-left: 85px;
}

.mp-m-hl-90 {
	margin-left: 90px;
}

.mp-m-hl-95 {
	margin-left: 95px;
}

.mp-m-hl-100 {
	margin-left: 100px;
}

/* Horizontal: Right margin */

.mp-m-hr-5 {
	margin-right: 5px;
}

.mp-m-hr-10 {
	margin-right: 10px;
}

.mp-m-hr-15 {
	margin-right: 15px;
}

.mp-m-hr-20 {
	margin-right: 20px;
}

.mp-m-hr-30 {
	margin-right: 30px;
}

.mp-m-hr-35 {
	margin-right: 35px;
}

.mp-m-hr-40 {
	margin-right: 40px;
}

.mp-m-hr-45 {
	margin-right: 45px;
}

.mp-m-hr-50 {
	margin-right: 50px;
}

.mp-m-hr-55 {
	margin-right: 55px;
}

.mp-m-hr-60 {
	margin-right: 60px;
}

.mp-m-hr-65 {
	margin-right: 65px;
}

.mp-m-hr-70 {
	margin-right: 70px;
}

.mp-m-hr-75 {
	margin-right: 75px;
}

.mp-m-hr-80 {
	margin-right: 80px;
}

.mp-m-hr-85 {
	margin-right: 85px;
}

.mp-m-hr-90 {
	margin-right: 90px;
}

.mp-m-hr-95 {
	margin-right: 95px;
}

.mp-m-hr-100 {
	margin-right: 100px;
}

/* Vertical and horizontal padding */

.mp-p-0 {
	padding: 0;
}

.mp-p-5 {
	padding: 5px;
}

.mp-p-10 {
	padding: 10px;
}

.mp-p-15 {
	padding: 15px;
}

.mp-p-20 {
	padding: 20px;
}

.mp-p-25 {
	padding: 25px;
}

.mp-p-30 {
	padding: 30px;
}

.mp-p-35 {
	padding: 35px;
}

.mp-p-40 {
	padding: 40px;
}

.mp-p-45 {
	padding: 45px;
}

.mp-p-50 {
	padding: 50px;
}

.mp-p-55 {
	padding: 55px;
}

.mp-p-60 {
	padding: 60px;
}

.mp-p-65 {
	padding: 65px;
}

.mp-p-70 {
	padding: 70px;
}

.mp-p-75 {
	padding: 75px;
}

.mp-p-80 {
	padding: 80px;
}

.mp-p-85 {
	padding: 85px;
}

.mp-p-90 {
	padding: 90px;
}

.mp-p-95 {
	padding: 95px;
}

.mp-p-100 {
	padding: 100px;
}

/* Both horizontal paddings */

.mp-p-h-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.mp-p-h-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.mp-p-h-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.mp-p-h-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.mp-p-h-25 {
	padding-left: 25px;
	padding-right: 25px;
}

.mp-p-h-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.mp-p-h-35 {
	padding-left: 35px;
	padding-right: 35px;
}

.mp-p-h-40 {
	padding-left: 40px;
	padding-right: 40px;
}

.mp-p-h-45 {
	padding-left: 45px;
	padding-right: 45px;
}

.mp-p-h-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.mp-p-h-55 {
	padding-left: 55px;
	padding-right: 55px;
}

.mp-p-h-60 {
	padding-left: 60px;
	padding-right: 60px;
}

.mp-p-h-65 {
	padding-left: 65px;
	padding-right: 65px;
}

.mp-p-h-70 {
	padding-left: 70px;
	padding-right: 70px;
}

.mp-p-h-75 {
	padding-left: 75px;
	padding-right: 75px;
}

.mp-p-h-80 {
	padding-left: 80px;
	padding-right: 80px;
}

.mp-p-h-85 {
	padding-left: 85px;
	padding-right: 85px;
}

.mp-p-h-90 {
	padding-left: 90px;
	padding-right: 90px;
}

.mp-p-h-95 {
	padding-left: 95px;
	padding-right: 95px;
}

.mp-p-h-100 {
	padding-left: 100px;
	padding-right: 100px;
}

/* Both vertical paddings */

.mp-p-v-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.mp-p-v-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mp-p-v-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.mp-p-v-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.mp-p-v-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.mp-p-v-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.mp-p-v-35 {
	padding-top: 35px;
	padding-bottom: 35px;
}

.mp-p-v-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mp-p-v-45 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.mp-p-v-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.mp-p-v-55 {
	padding-top: 55px;
	padding-bottom: 55px;
}

.mp-p-v-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.mp-p-v-65 {
	padding-top: 65px;
	padding-bottom: 65px;
}

.mp-p-v-70 {
	padding-top: 70px;
	padding-bottom: 70px;
}

.mp-p-v-75 {
	padding-top: 75px;
	padding-bottom: 75px;
}

.mp-p-v-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.mp-p-v-85 {
	padding-top: 85px;
	padding-bottom: 85px;
}

.mp-p-v-90 {
	padding-top: 90px;
	padding-bottom: 90px;
}

.mp-p-v-95 {
	padding-top: 95px;
	padding-bottom: 95px;
}

.mp-p-v-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Vertical: Top padding */

.mp-p-vt-0 {
	padding-top: 0px;
}

.mp-p-vt-5 {
	padding-top: 5px;
}

.mp-p-vt-10 {
	padding-top: 10px;
}

.mp-p-vt-15 {
	padding-top: 15px;
}

.mp-p-vt-20 {
	padding-top: 20px;
}

.mp-p-vt-25 {
	padding-top: 25px;
}

.mp-p-vt-30 {
	padding-top: 30px;
}

.mp-p-vt-35 {
	padding-top: 35px;
}

.mp-p-vt-40 {
	padding-top: 40px;
}

.mp-p-vt-45 {
	padding-top: 45px;
}

.mp-p-vt-50 {
	padding-top: 50px;
}

.mp-p-vt-55 {
	padding-top: 55px;
}

.mp-p-vt-60 {
	padding-top: 60px;
}

.mp-p-vt-65 {
	padding-top: 65px;
}

.mp-p-vt-70 {
	padding-top: 70px;
}

.mp-p-vt-75 {
	padding-top: 75px;
}

.mp-p-vt-80 {
	padding-top: 80px;
}

.mp-p-vt-85 {
	padding-top: 85px;
}

.mp-p-vt-90 {
	padding-top: 90px;
}

.mp-p-vt-95 {
	padding-top: 95px;
}

.mp-p-vt-100 {
	padding-top: 100px;
}

/* Vertical: Bottom padding */

.mp-p-vb-0 {
	padding-bottom: 0px;
}

.mp-p-vb-5 {
	padding-bottom: 5px;
}

.mp-p-vb-10 {
	padding-bottom: 10px;
}

.mp-p-vb-15 {
	padding-bottom: 15px;
}

.mp-p-vb-20 {
	padding-bottom: 20px;
}

.mp-p-vb-25 {
	padding-bottom: 25px;
}

.mp-p-vb-30 {
	padding-bottom: 30px;
}

.mp-p-vb-35 {
	padding-bottom: 35px;
}

.mp-p-vb-40 {
	padding-bottom: 40px;
}

.mp-p-vb-45 {
	padding-bottom: 45px;
}

.mp-p-vb-50 {
	padding-bottom: 50px;
}

.mp-p-vb-55 {
	padding-bottom: 55px;
}

.mp-p-vb-60 {
	padding-bottom: 60px;
}

.mp-p-vb-65 {
	padding-bottom: 65px;
}

.mp-p-vb-70 {
	padding-bottom: 70px;
}

.mp-p-vb-75 {
	padding-bottom: 75px;
}

.mp-p-vb-80 {
	padding-bottom: 80px;
}

.mp-p-vb-85 {
	padding-bottom: 85px;
}

.mp-p-vb-90 {
	padding-bottom: 90px;
}

.mp-p-vb-95 {
	padding-bottom: 95px;
}

.mp-p-vb-100 {
	padding-bottom: 100px;
}

/* Horizontal: Left padding */

.mp-p-hl-0 {
	padding-left: 0px;
}

.mp-p-hl-5 {
	padding-left: 5px;
}

.mp-p-hl-10 {
	padding-left: 10px;
}

.mp-p-hl-15 {
	padding-left: 15px;
}

.mp-p-hl-20 {
	padding-left: 20px;
}

.mp-p-hl-25 {
	padding-left: 25px;
}

.mp-p-hl-30 {
	padding-left: 30px;
}

.mp-p-hl-35 {
	padding-left: 35px;
}

.mp-p-hl-40 {
	padding-left: 40px;
}

.mp-p-hl-45 {
	padding-left: 45px;
}

.mp-p-hl-50 {
	padding-left: 50px;
}

.mp-p-hl-55 {
	padding-left: 55px;
}

.mp-p-hl-60 {
	padding-left: 60px;
}

.mp-p-hl-65 {
	padding-left: 65px;
}

.mp-p-hl-70 {
	padding-left: 70px;
}

.mp-p-hl-75 {
	padding-left: 75px;
}

.mp-p-hl-80 {
	padding-left: 80px;
}

.mp-p-hl-85 {
	padding-left: 85px;
}

.mp-p-hl-90 {
	padding-left: 90px;
}

.mp-p-hl-95 {
	padding-left: 95px;
}

.mp-p-hl-100 {
	padding-left: 100px;
}

/* Horizontal: Right padding */

.mp-p-hr-0 {
	padding-right: 0px;
}

.mp-p-hr-5 {
	padding-right: 5px;
}

.mp-p-hr-10 {
	padding-right: 10px;
}

.mp-p-hr-15 {
	padding-right: 15px;
}

.mp-p-hr-20 {
	padding-right: 20px;
}

.mp-p-hr-25 {
	padding-right: 25px;
}

.mp-p-hr-30 {
	padding-right: 30px;
}

.mp-p-hr-35 {
	padding-right: 35px;
}

.mp-p-hr-40 {
	padding-right: 40px;
}

.mp-p-hr-45 {
	padding-right: 45px;
}

.mp-p-hr-50 {
	padding-right: 50px;
}

.mp-p-hr-55 {
	padding-right: 55px;
}

.mp-p-hr-60 {
	padding-right: 60px;
}

.mp-p-hr-65 {
	padding-right: 65px;
}

.mp-p-hr-70 {
	padding-right: 70px;
}

.mp-p-hr-75 {
	padding-right: 75px;
}

.mp-p-hr-80 {
	padding-right: 80px;
}

.mp-p-hr-85 {
	padding-right: 85px;
}

.mp-p-hr-90 {
	padding-right: 90px;
}

.mp-p-hr-95 {
	padding-right: 95px;
}

.mp-p-hr-100 {
	padding-right: 100px;
}